///
/// Builds border color util classes.
/// @name util-colors-border
/// @group class
/// @require {function} border
/// @require {function} class
/// @require {variable} $_palette-util
///

@mixin util-colors-border {
	@each $color in $_palette-util {
		$color-name: nth($color, 1);

		#{class("util") + "-b-" + $color-name} {
			border: border($color-name) !important;
		}

		#{class("util") + "-bt-" + $color-name} {
			border-top: border($color-name) !important;
		}

		#{class("util") + "-br-" + $color-name} {
			border-right: border($color-name) !important;
		}

		#{class("util") + "-bb-" + $color-name} {
			border-bottom: border($color-name) !important;
		}

		#{class("util") + "-bl-" + $color-name} {
			border-left: border($color-name) !important;
		}
	}
}
