///
/// Variable map for the core color palette.
/// @group color
/// @access public
///

$_palette-core: (
	"black": #000000,
	"white": #FFFFFF
);

///
/// Variable map for the blue color palette.
/// @group color
/// @access public
///

$_palette-blue: (
	"blue-50": #ECF1FC,
	"blue-100": #C4D3F2,
	"blue-200": #9CB5E8,
	"blue-300": #7497DE,
	"blue-400": #4C79D4,
	"blue-500": #386ACF,
	"blue-600": #193366,
	"blue-700": #203F7B,
	"blue-800": #254990,
	"blue-900": #2B54A5
);

///
/// Variable map for the charcoal color palette.
/// @group color
/// @access public
///

$_palette-charcoal: (
	"charcoal-50": #E6E9EB,
	"charcoal-100": #D1D6D8,
	"charcoal-200": #A7B0B2,
	"charcoal-300": #7D8A8C,
	"charcoal-400": #536466,
	"charcoal-500": #293E40,
	"charcoal-600": #213234,
	"charcoal-700": #192628,
	"charcoal-800": #111A1C,
	"charcoal-900": #090E10
);

///
/// Variable map for the green color palette.
/// @group color
/// @access public
///

$_palette-green: (
	"green-50": #EAFDF4,
	"green-100": #B7EED8,
	"green-200": #87E0BE,
	"green-300": #57D2A4,
	"green-400": #27C48A,
	"green-500": #0FBD7D,
	"green-600": #0C9763,
	"green-700": #0A8456,
	"green-800": #087149,
	"green-900": #064B2E
);

///
/// Variable map for the gray color palette.
/// @group color
/// @access public
///

$_palette-gray: (
	"gray-50": #FAFAFA,
	"gray-100": #F1F1F1,
	"gray-200": #CBCBCB,
	"gray-300": #B1B1B1,
	"gray-400": #979797,
	"gray-500": #7D7D7D,
	"gray-600": #666666,
	"gray-700": #4A4A4A,
	"gray-800": #2E2E2E,
	"gray-900": #151515
);

///
/// Variable map for the orange color palette.
/// @group color
/// @access public
///

$_palette-orange: (
	"orange-50": #FDE5D1,
	"orange-100": #FAD7B8,
	"orange-200": #F4BB86,
	"orange-300": #EE9F54,
	"orange-400": #E88323,
	"orange-500": #E57509,
	"orange-600": #B75D08,
	"orange-700": #A05108,
	"orange-800": #894509,
	"orange-900": #723906
);

///
/// Variable map for the purple color palette.
/// @group color
/// @access public
///

$_palette-purple: (
	"purple-50": #F5E9FF,
	"purple-100": #D9C3F8,
	"purple-200": #BD9DF0,
	"purple-300": #A177E8,
	"purple-400": #8551E0,
	"purple-500": #773EDC,
	"purple-600": #5F32B0,
	"purple-700": #532C9A,
	"purple-800": #472684,
	"purple-900": #3B206E
);

///
/// Variable map for the red color palette.
/// @group color
/// @access public
///

$_palette-red: (
	"red-50": #FFECF0,
	"red-100": #FCD4DC,
	"red-200": #F4A4B4,
	"red-300": #EC758C,
	"red-400": #E44464,
	"red-500": #DC143C,
	"red-600": #B01030,
	"red-700": #9A0E2A,
	"red-800": #840C24,
	"red-900": #6E0A1E
);

///
/// Variable map for the yellow color palette.
/// @group color
/// @access public
///

$_palette-yellow: (
	"yellow-50": #FFF8F2,
	"yellow-100": #FBEACE,
	"yellow-200": #F7DCAA,
	"yellow-300": #FDCA6A,
	"yellow-400": #F1C774,
	"yellow-500": #EDB950,
	"yellow-600": #BD9340,
	"yellow-700": #A58038,
	"yellow-800": #8D6D2F,
	"yellow-900": #755928
);

///
/// Variable map for the intent color palette.
/// @group color
/// @access public
///

$_palette-intent: (
	"negative": #DC143C,
	"neutral": #386ACF,
	"positive": #0FBD7D,
	"warning": #E57509,
	"primary": #59B5A0,
	"default-text": #4A4A4A
);

///
/// Variable map for the default color palette.
/// @group color
/// @access public
///

$_palette-default: map-collect(
	$_palette-core,
	$_palette-blue,
	$_palette-charcoal,
	$_palette-green,
	$_palette-gray,
	$_palette-orange,
	$_palette-purple,
	$_palette-red,
	$_palette-yellow,
	$_palette-intent
) !global;

///
/// Variable map for the util color palette.
/// @group color
/// @access public
///

$_palette-util: map-collect(
	$_palette-core,
	$_palette-intent
) !global;
