///
/// Gets the rgba values from a hex value in a map of colors.
/// @name rgba-map
/// @group color
/// @access private
/// @param {map} $palette [null] - A palette of colors.
/// @example scss
///   $colors-rgba: rgba-map($palette);
///

@function rgba-map($palette: null) {
	$rgba-map: ();

	@each $color in $palette {
		$color-name: nth($color, 1);
		$color-rgb: #{red(nth($color, 2)), green(nth($color, 2)), blue(nth($color, 2))};
		$rgba-map: map-merge($rgba-map, ($color-name: $color-rgb));
	}

	@return $rgba-map;
}
