///
/// Outputs the basic ellipsis with a few options.
/// @name ellipsis
/// @group helper
/// @param {list} $args [null] - Can handle three arguments: `max-width` `min-width` `width`.
/// @example scss
///   @include ellipsis;
///   @include ellipsis(width 100%);
///

@mixin ellipsis($args: null) {
	@each $o in max-width min-width width {
		$i: index($args, $o);

		@if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
			#{$o}: nth($args, $i + 1);
		}
	}

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
