///
/// Outputs input and textarea placeholder properties.
/// @name placeholder
/// @group helper
/// @param {string} $color [#92201A] - Input a color value.
/// @example scss
///   @include placeholder(color("black"));
///

@mixin placeholder($color: #92201A) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&::-moz-placeholder {
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder {
		color: $color;
	}
}
