///
/// Transition function that calls to the `$_default-transitions` map.
/// @name t
/// @group helper
/// @param {string} $props [null] - The properties that need a transition applied.
/// @param {string} $transition [null] - The transition being applied.
/// @param {string} $time [time("base")] - The time being applied.
/// @example
///   t: transition(opacity, "link");
///   t: transition(opacity, "shift", "slow");
///
///   // output
///   transition: opacity 0.3s cubic-bezier(0.075, 0.820, 0.165, 1.000);
///   transition: opacity 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
/// @require {variable} $_default-animation-time
/// @require {variable} $_default-transitions
///

@function t($props: null, $transition: null, $time: "base") {
	$result: ();

	@if not $props {
		@warn "No properties to target for a transition. Property omitted.";
		@return null;
	} @else if not $transition {
		@warn "No transition selected. View $_default-transitions for options. Property omitted.";
		@return null;
	} @else if not map-has-key($_default-transitions, $transition) {
		@warn "No transition found for '#{$transition}' in $_default-transitions map. Property omitted.";
		@return null;
	}

	@if type-of($time) == "string" {
		$time: time($time);
	}

	$trans: map-get($_default-transitions, $transition);

	@each $prop in $props {
		$result: append($result, $prop #{$time} $trans, comma);
	}

	@return #{$result};
}
