///
/// Sets sizing and sets up :root css variables.
/// @name base
/// @group app-setup
/// @example scss
///   @include base;
///

@mixin base {
	* {
		box-sizing: border-box;
	}

	html,
	body {
		height: 100%;
	}

	html {
		font-family: ff("default");
		font-size: 62.5%;
		line-height: 1.15;
		-webkit-text-size-adjust: 100%;
	}

	body {
		margin: 0;
	}

	// main color palette
	:root {
		@include css-vars($_palette-default);
	}
}
