///
/// Outputs css variables from a color palette.
/// @name css-vars
/// @group app-setup
/// @param {map} $palette [null] - A palette of colors.
/// @example scss
///   :root {
///     @include css-vars($_palette-default);
///   }
///
///   // output
///   :root {
///     --color-black: 0, 0, 0;
///     --color-white: 255, 255, 255;
///     --color-blue-50: 236, 241, 252;
///     ect...
///   }
/// @require {function} rgba-map
///

@mixin css-vars($palette: null) {
	@if not $palette {
		@warn "No palette entered. Property omitted.";
	} @else {
		// get rgb from hex value and re-map
		$rgba-map: rgba-map($palette);

		// output the css variable name and the rgb value
		@each $color in $rgba-map {
			$color-name: nth($color, 1);
			$color-value: nth($color, 2);

			--color-#{$color-name}: #{$color-value};
		}
	}
}
