///
/// Overwrites default variabls.
///
/// **Available Settings**
///
/// `animation-time`
///
/// `border-radius`
///
/// `color`
///
/// `font-sizes`
///
/// `font-weights`
///
/// `media-queries`
///
/// `mods`
///
/// `namespace`
///
/// `opacity`
///
/// `setup`
///
/// `space`
///
/// `transitions`
///
/// `z-index`
/// @name settings
/// @group app-setup
/// @access public
/// @param {array} $values [null] - A list of values.
/// @example scss
///   @include settings(
///     "space" (
///       "base": 0.5rem
///     )
///   );
/// @require {variable} $_contexts
/// @require {variable} $_default-animation-time
/// @require {variable} $_default-border-radius
/// @require {variable} $_default-media-queries
/// @require {variable} $_default-opacity
/// @require {variable} $_default-space
/// @require {variable} $_default-transitions
/// @require {variable} $_default-z-index
/// @require {variable} $_font-sizes
/// @require {variable} $_font-family
/// @require {variable} $_mods
/// @require {variable} $_namespace-component
/// @require {variable} $_palette-default
/// @require {variable} $_setup-prefixes
/// @require {variable} $_setup
///

@mixin settings($values: null) {
	$i: 0;
	$update: ();

	@each $value in $values {
		$i: index($values, $value);

		@if $i and $i + 1 <= length($values) {
			$key: nth($values, $i);
			$value: nth($values, $i + 1);

			@if $key == "animation-time" { $_default-animation-time: map-merge($_default-animation-time, $value) !global; }
			@if $key == "border-radius" { $_default-border-radius: map-merge($_default-border-radius, $value) !global; }
			@if $key == "color" { $_palette-default: map-merge($_palette-default, $value) !global; }
			@if $key == "context" { $_contexts: map-merge($_contexts, $value) !global; }
			@if $key == "font-sizes" { $_font-sizes: map-merge($_font-sizes, $value) !global; }
			@if $key == "font-family" { $_font-family: map-merge($_font-family, $value) !global; }
			@if $key == "media-queries" { $_default-media-queries: map-merge($_default-media-queries, $value) !global; }
			@if $key == "mods" { $_mods: map-merge($_mods, $value) !global; }
			@if $key == "namespace" { $_namespace-component: map-merge($_namespace-component, $value) !global; }
			@if $key == "opacity" { $_default-opacity: map-merge($_default-opacity, $value) !global; }
			@if $key == "palette" { @if type-of($value) == "map" { $_palette-default: map-merge($_palette-default, $value) !global; } @else { @each $palette in $value { $_palette-default: map-merge($_palette-default, $palette) !global; } } }
			@if $key == "prefixes" { $_setup-prefixes: map-merge($_setup-prefixes, $value) !global; $_setup: map-merge($_setup, $value) !global; }
			@if $key == "setup" { $_setup: map-merge($_setup, $value) !global; }
			@if $key == "space" { $_default-space: map-merge($_default-space, $value) !global; }
			@if $key == "transitions" { $_default-transitions: map-merge($_default-transitions, $value) !global; }
			@if $key == "z-index" { $_default-z-index: map-merge($_default-z-index, $value) !global; }
		}
	}
}
