///
/// Create consistent context selectors
/// @name context
/// @group builder
/// @param {map} $selectors [()] - Input a list of selectors.
/// @param {list} $modifiers [null] - Searches modifiers
/// @example scss
///   @include context(class("alert"), is "focus") {
///     property: value;
///   }
///
///   // output
///   .sample-alert.is-focus .child-element
/// @require {function} has-selector
/// @require {function} get-setup
/// @require {function} strip-selector
/// @require {mixin} toggle
/// @require {variable} $_namespace-mod
///

@mixin context($selectors: (), $modifiers: null) {
	// toggle
	@if not get-setup("context") {
		@include toggle((
			"context": true));
	}

	// toggle
	@if not get-setup("child") {
		@include toggle((
			"default-selector-stored": get-setup("default-selector")));
	}

	// get contexts
	$component-contexts: ();
	@if map-get($_contexts, get-setup("current-component")) {
		$component-contexts: map-get($_contexts, get-setup("current-component"));
	}

	// create context selector
	$context-selector: "";
	@each $selector in $selectors {
		$i: index($selectors, $selector);

		@if get-setup("host") {
			$context-selector: $context-selector + ".context-" + strip-selector($selector);
		} @else {
			$context-selector: $context-selector + has-selector($selector);
		}
	};

	// create mod name
	$mod-selector: "";
	$pseudo-selector: "";
	@each $modifier in $modifiers {
		$i: index($modifiers, $modifier);

		@if $i and $i + 1 <= length($modifiers) {
			$key: nth($modifiers, $i);
			$value: nth($modifiers, $i + 1);

			@if $key == "child" { $mod-selector: $mod-selector + map-get($_setup-prefixes, "child-prefix") + $value; }
			@if $key == "mod" { $mod-selector: $mod-selector + map-get($_namespace-mod, "mod") + "-" + $value; }
			@if $key == "has" { $mod-selector: $mod-selector + map-get($_namespace-mod, "has") + "-" + $value; }
			@if $key == "is" {
				@if map-has-key($_pseudo-selector, $value) {
					$pseudo-selector: $mod-selector + ":" + $value;
				}

				$mod-selector: $mod-selector + map-get($_namespace-mod, "is") + "-" + $value;
			}
		}
	}

	// output
	@if map-get($_contexts, "all") or map-get($component-contexts, "all") or map-get($component-contexts, $selectors) {
		@if get-setup("host") {
			$child-selector: "";

			@if get-setup("child") {
				$child-selector: get-setup("default-selector");
			}

			@at-root :host(#{$context-selector}#{$mod-selector}) #{$child-selector} {
				@content;
			}

			@if str-length($pseudo-selector) >= 1 {
				@at-root :host(#{$context-selector}#{$pseudo-selector}) #{$child-selector} {
					@content;
				}
			}
		} @else {
			@if str-length($pseudo-selector) >= 1 {
				#{$context-selector}#{$pseudo-selector} &,
				#{$context-selector}#{$mod-selector} & {
					@content;
				}
			} @else {
				#{$context-selector}#{$mod-selector} & {
					@content;
				}
			}
		}
	}

	// toggle
	@if not get-setup("child") {
		@include toggle((
			"default-selector": get-setup("default-selector-stored")));
	}

	// toggle
	@include toggle((
		"context": false));
}
