///
/// This will update a map of modifiers that are turned off by default.
/// @name define-modifiers
/// @group support
/// @access private
/// @param {map} $local [()] - A list of updated mod settings from `$_mods`.
/// @example scss
///   @include define-modifiers($_mods);
/// @require {function} get-setup
/// @require {variable} $_mods
///

@mixin define-modifiers($local: ()) {
	@if map-has-key($_mods, get-setup("current-component")) {
		@each $args in $local {
			$defined-name: nth($args, 1);
			$defined-mods: nth($args, 2);

			@if type-of($defined-mods) == "map" {
				@if map-has-key($_mods, $defined-name) {
					$updated-mods: map-merge(map-get($_mods, $defined-name), $defined-mods);
					$updated-map: ($defined-name: $updated-mods);
					$_mods: map-merge($_mods, $updated-map) !global;
				}
			} @else {
				$updated-map: ($defined-name: $defined-mods);
				$_mods: map-merge($_mods, $updated-map) !global;
			}
		}
	}
}
