///
/// Create consistent context selectors
/// @name context
/// @group support
/// @param {map} $selectors [()] - Input a list of selectors.
/// @example scss
///   @include context(class("alert"), is "focus") {
///     property: value;
///   }
///
///   // output
///   .sample-alert.is-focus .child-element
/// @require {function} get-setup
/// @require {mixin} toggle
/// @require {variable} $_namespace-mod
///

@mixin context($selectors: (), $modifiers: null) {
	// create context selector
	$context-selector: "";
	@each $selector in $selectors {
		$i: index($selectors, $selector);

		@if $i <= 1 {
			$context-selector: $context-selector + nth($selectors, $i);
		} @else {
			$context-selector: $context-selector + get-setup("child-prefix") + nth($selectors, $i);
		}
	};

	// create mod name
	$mod-selector: "";
	@each $modifier in $modifiers {
		$i: index($modifiers, $modifier);

		@if $i and $i + 1 <= length($modifiers) {
			$key: nth($modifiers, $i);
			$value: nth($modifiers, $i + 1);

			@if $key == "mod" { $mod-selector: map-get($_namespace-mod, "mod") + "-" + $value; }
			@if $key == "is" { $mod-selector: map-get($_namespace-mod, "is") + "-" + $value; }
			@if $key == "has" { $mod-selector: map-get($_namespace-mod, "has") + "-" + $value; }
		}
	}

	#{$context-selector}#{$mod-selector} & {
		@content;
	}
}
