

@mixin grid($cols...) {
	@for $i from 1 through length($cols) {
		> *:nth-of-type(#{$i}n) {
			$multiplier: nth($cols, $i) / 12;
			$width: percentage($multiplier);
			flex: 0 0 $width;
			max-width: $width;
		}
	}
}
