///
/// Variable map for prefix namespace settings.
/// @group vars
/// @access private
///

$_setup-prefixes: (
	"prefix": "teq-",
	"child-prefix": "-",
	"modifier-prefix": "_"
) !global;

///
/// Variable map for setup namespaces.
/// @group vars
/// @access private
///

$_setup-namespace: (
	"current-component": "",
	"default-selector": "",
	"default-selector-stored": "",
	"host-element": "",
	"host-selector": "",
	"host-selector-stored": "",
	"mod-selector": "",
	"mod-selector-stored": ""
);

///
/// Variable map for setup toggles.
/// @group vars
/// @access private
///

$_setup-toggles: (
	"host": false,
	"child": false,
	"nested": false,
	"has": false,
	"is": false,
	"mod": false,
	"context": false,
	"cssvars": true,
	"debug": false,
	"verbose-mod": false
);

///
/// Variable map that compiles other setup maps.
/// @group vars
/// @access private
/// @require {function} map-collect
/// @require {variable} $_setup-prefixes
/// @require {variable} $_setup-namespace
/// @require {variable} $_setup-toggles
///

$_setup: map-collect(
	$_setup-namespace,
	$_setup-toggles,
	$_setup-prefixes
) !global;
