///
/// Variable map for the base settings.
/// @group support
/// @access public
///

$_settings: () !global;

///
/// Variable map for the context settings.
/// @group support
/// @access public
///

$_settings-context: ( "all" ) !global;

///
/// Variable map for the mod settings.
/// @group support
/// @access public
///

$_settings-mods: ( "all": true ) !global;

///
/// Variable map for prefix namespace settings.
/// @group support
/// @access public
///

$_settings-prefixes: (
	"prefix": "teq-",
	"child-prefix": "__",
	"modifier-prefix": "--"
) !global;
