///
/// Variable map for animation times.
/// @group vars
/// @access public
///

$_default-animation-time: (
	"base": 0.3s,
	"fast": 0.1s,
	"slow": 0.5s
) !global;

///
/// Variable map for border radiuses.
/// @group vars
/// @access public
///

$_default-border-radius: (
	"xs": 0.1rem,
	"sm": 0.2rem,
	"md": 0.3rem,
	"lg": 0.4rem
) !global;

///
/// Variable map for media queries.
/// @group vars
/// @access public
///

$_default-media-queries: (
	"for-phone-only": "(max-width: 599px)",
	"for-tablet-portrait-up": "(min-width: 600px)",
	"for-tablet-landscape-up": "(min-width: 900px)",
	"for-small-desktop-up": "(min-width: 1200px)",
	"for-desktop-up": "(min-width: 1300px)",
	"for-big-desktop-up": "(min-width: 1800px)"
) !global;

///
/// Variable map for opacity.
/// @group vars
/// @access public
///

$_default-opacity: (
	"visible": 1,
	"light": 0.7,
	"lighter": 0.5,
	"lightest": 0.3,
	"hidden": 0
) !global;

///
/// Variable map for spacing.
/// @group vars
/// @access public
///

$_default-space: (
	"pf": 0.1rem,
	"base": 0.4rem,
	"xs": 0.2rem,
	"sm": 0.8rem,
	"md": 1.6rem,
	"lg": 2.4rem,
	"xl": 3.2rem
) !global;

///
/// Variable map for transition animations.
/// @group vars
/// @access public
///

$_default-transitions: (
	"link": cubic-bezier(0.075, 0.820, 0.165, 1.000),
	"shift": cubic-bezier(0.770, 0.000, 0.175, 1.000)
) !global;

///
/// Variable map for z-indexs.
/// @group vars
/// @access public
///

$_default-z-index: (
	"below": -1,
	"above": 1,
	"navbar": 980,
	"dropdown-backdrop": 990,
	"dropdown": 1000,
	"sticky": 1020,
	"fixed": 1030,
	"modal-backdrop": 1040,
	"modal": 1050,
	"popover": 1060,
	"tooltip": 1070
) !global;
