///
/// Reset list placeholder.
/// @name reset-list
/// @group placeholder
/// @example scss
///   ul {
///     @include reset-list;
///   }
///

@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
