///
/// Builds flex util classes.
/// @name util-flex
/// @group util-class
/// @require {function} class
///

@mixin util-flex {
	#{class("util") + "-align-items-start"} {
		align-items: flex-start !important;
	}

	#{class("util") + "-align-items-end"} {
		align-items: flex-end !important;
	}

	#{class("util") + "-align-items-center"} {
		align-items: center !important;
	}

	#{class("util") + "-flex-column"} {
		flex-direction: column !important;
	}

	#{class("util") + "-flex-column-reverse"} {
		flex-direction: column-reverse !important;
	}

	#{class("util") + "-flex-row"} {
		flex-direction: row !important;
	}

	#{class("util") + "-flex-row-reverse"} {
		flex-direction: row-reverse !important;
	}

	#{class("util") + "-justify-content-start"} {
		justify-content: flex-start !important;
	}

	#{class("util") + "-justify-content-end"} {
		justify-content: flex-end !important;
	}

	#{class("util") + "-justify-content-center"} {
		justify-content: center !important;
	}

	#{class("util") + "-flex-wrap"} {
		flex-wrap: wrap !important;
	}

	#{class("util") + "-flex-nowrap"} {
		flex-wrap: nowrap !important;
	}
}
