///
/// Builds font util classes.
/// @name util-font
/// @group util-class
/// @require {function} class
/// @require {function} ff
/// @require {function} fs
///

@mixin util-font {
	#{class("util") + "-fs-xxs"} {
		font-size: fs("xxs") !important;
	}

	#{class("util") + "-fs-xs"} {
		font-size: fs("xs") !important;
	}

	#{class("util") + "-fs-sm"} {
		font-size: fs("sm") !important;
	}

	#{class("util") + "-fs-md"} {
		font-size: fs("md") !important;
	}

	#{class("util") + "-fs-lg"} {
		font-size: fs("lg") !important;
	}

	#{class("util") + "-fs-xl"} {
		font-size: fs("xl") !important;
	}

	#{class("util") + "-fs-xxl"} {
		font-size: fs("xxl") !important;
	}

	#{class("util") + "-fs-xxxl"} {
		font-size: fs("xxxl") !important;
	}

	#{class("util") + "-fw-regular"} {
		font-family: ff("regular") !important;
	}

	#{class("util") + "-fw-light"} {
		font-family: ff("light") !important;
	}

	#{class("util") + "-fw-bold"} {
		font-family: ff("semibold") !important;
	}
}
