///
/// Update a values in a map as a single call.
/// @name update
/// @group support
/// @access private
/// @param {map} $map [null] - The desired map to update.
/// @param {list} $values [null] - The list of items to be updated.
/// @example
///   $map: (
///    "key1": false,
///    "key2": "value"
///   );
///   $map: update($map, "key1" true "key2" "updated value")
///
///   // returns
///   $map: (
///    "key1": true,
///    "key2": "updated value"
///   );
///

@function update($map: null, $values: null) {
	$i: 0;
	$update: ();

	@each $value in $values {
		$i: index($values, $value);

		@if $i and $i + 1 <= length($values) {
			$key: nth($values, $i);
			$value: nth($values, $i + 1);
			$update: map-merge($update, ($key: $value));
		}
	}

	@return map-merge($map, $update);
}
